@model  Borderlands2GoldenKeys.Models.HomeViewModel

@using PoliteCaptcha

@{
    ViewBag.RelNext = Url.Action("ShowAll");
}

<div class="well">
    <h1 class="defused">Borderlands 2: Golden Keys <small class="secret red">[unofficial]</small></h1>
    <div class="hidden-print">
        This site has one and only purpose: list <a href="http://gearboxsoftware.com/" title="Official Gearbox site">gearbox</a>'s <a href="http://www.borderlands2.com" title="Official Borderlands 2 site">borderlands 2</a>'s golden keys from <a href="https://twitter.com/GearboxSoftware" title="Gearbox Software's Twitter">Twitter</a>.
    </div>
</div>

<div class="row">
    <div class="col-md-12 text-center">
        <blockquote>
            @Model.ClapTrapQuote.Quote
            <footer>
                ClapTrap
            </footer>
        </blockquote>
    </div>
</div>
@if (Model.Rows.HasShiftCodes)
{
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="col-md-1"><h4>Platform</h4></th>
                        <th class="col-md-2"><h4>SHiFT Code</h4></th>
                        <th class="col-md-1"><h4>Valid</h4></th>
                        <th class="col-md-1 hidden-print"><h4>Source</h4></th>
                    </tr>
                </thead>
                <tbody id="shiftCodes">
                    @Html.Partial("_ShiftCodeRowPartial", Model.Rows)
                </tbody>
            </table>
        </div>
    </div>
    if (!Model.DisableShallAllButton)
    {
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div id="showAllError" class="displaynone alert alert-danger"><strong>AHHHHHHHHHHHHHHHHH! Dang.</strong> My bad.</div>
            </div>
        </div>
        <div class="row text-center hidden-print">
            <div class="col-md-2 col-md-offset-5">
                @using (Ajax.BeginForm("GetRemainingShiftCodes", new AjaxOptions
                {
                    InsertionMode = InsertionMode.InsertAfter,
                    LoadingElementId = "ajaxLoader",
                    UpdateTargetId = "shiftCodes",
                    OnBegin = "ShowAllBegin",
                    OnFailure = "ShowAllFailure",
                    OnSuccess = "ShowAllSuccess"
                }))
                {
                    <input id="showAllButton" type="submit" value="Show all" class="btn btn-default btn-sm" />
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <div id="ajaxLoader" class="displaynone progress progress-striped active">
                    <div class="progress-bar" style="width: 100%"></div>
                </div>
            </div>
        </div>
    }
}
else
{
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="alert">No SHiFT codes. For the moment...</div>
        </div>
    </div>
}
<hr />

<div class="row hidden-print">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title text-center">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseIssues">
                            <span class="glyphicon glyphicon-fire"></span> Got issues?
                        </a>
                    </h4>
                </div>
                <div id="collapseIssues" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row center-block">
                            <div class="col-md-12">
                                You could go to the <a href="https://github.com/laedit/Borderlands2-Golden-Keys/issues" title="Borderlands 2: Golden Keys GitHub issues">GitHub issues</a>.
                                <br />
                                <br />
                            </div>
                        </div>
                        @if (Model.EnableMail)
                        {
                            <div class="row center-block">
                                @using (Ajax.BeginForm("SendMail", null, new AjaxOptions
                                {
                                    LoadingElementId = "mailLoader",
                                    OnBegin = "SendMailBegin",
                                    OnFailure = "SendMailFailure",
                                    OnSuccess = "SendMailSuccess"
                                }, new { @class = "form-horizontal col-md-12", id = "contactForm" }))
                                {
                                    <div id="mailForm">
                                        Or you could just send a mail :
                                        <br />
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Mail.MailFrom, new { @class = "col-md-2 control-label sr-only" })
                                            <div class="col-md-12">
                                                @Html.TextBoxFor(m => m.Mail.MailFrom, new { @class = "form-control", placeholder = "Email", type="email" })
                                                @Html.ValidationMessageFor(m => m.Mail.MailFrom)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Mail.Message, new { @class = "col-md-2 control-label sr-only" })
                                            <div class="col-md-12">
                                                @Html.TextAreaFor(m => m.Mail.Message, new { @class = "form-control", placeholder = "Message" })
                                                @Html.ValidationMessageFor(m => m.Mail.Message)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                @Html.SpamPreventionFields()
                                                <span class="text-danger" id="youAreAClaptrap"></span>
                                                <div id="ReCaptcha">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <button type="submit" id="sendMailButton" class=" btn btn-default"><span class="glyphicon glyphicon-send"></span> &nbsp;  Send mail</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div id="mailLoader" class="displaynone progress progress-striped active">
                                                <div class="progress-bar" style="width: 100%"></div>
                                            </div>
                                            <div id="mailResult">
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="well">
    <div class="row text-center">
        <div class="col-md-4">
            This site is not affiliated to <a href="http://gearboxsoftware.com/" title="Official Gearbox site">Gearbox Software</a>
        </div>
        <div class="col-md-4">
            Borderlands 2 is property of <a href="http://gearboxsoftware.com/" title="Official Gearbox site">Gearbox Software</a>
        </div>
        <div class="col-md-4">
            <a href="https://twitter.com/GearboxSoftware" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @@GearboxSoftware</a>
        </div>
    </div>
</div>

@section scripts
{
    @Html.SpamPreventionScript()
    <script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <script type="text/javascript">DocumentReadyInitializeTooltip();DocumentReadyInitializezClip();</script>
}
