<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="application-name" content="Borderlands 2: Golden Keys" />
    <meta name="description" content="Borderlands 2: Golden keys provides SHift Codes from GearboxSoftware's twiter" />
    <meta name="author" content="Laedit" />
    <meta name="keywords" content="borderlands 2, golden, key, shift code" />
    <meta name="google-site-verification" content="0x2a3iCXVHDviFHZ1dzFGHWQDqP-idw-P8yZUuT3MQM" />
    <title>
        @if (!string.IsNullOrEmpty(@ViewBag.Title))
        {
            <text>@ViewBag.Title - </text>
        }
        Borderlands 2: Golden Keys
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/ga")

    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="@Url.Action("Rss", "Home", null, "http")" />
    <link rel="next" href="@Url.Action("ShowAll")" />
</head>
<body>
    <script type="text/javascript">CallAnalytics();</script>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="navbar navbar-default ">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Settings", "Index", "Settings")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>
                // &nbsp; Made with &nbsp;
                <a href="http://www.asp.net/mvc" target="_blank"><img src="~/Content/images/aspnet.png" title="ASP.NET MVC 5" alt="ASP.NET MVC 5" width="32" /></a>
                &nbsp;-&nbsp;
                <a href="http://ravendb.net" target="_blank"><img src="~/Content/images/ravendb.png" title="RavenDB" alt="RavenDB" width="32" /></a>
                &nbsp;-&nbsp;
                <a href="https://linqtotwitter.codeplex.com/" target="_blank"><img src="~/Content/images/linq2twitter.png" title="Linq2Twitter" alt="Linq2Twitter" height="16" /></a>
                &nbsp;//&nbsp;  Hosted on &nbsp;
                <a href="http://www.ikoula.com/" target="_blank"><img src="~/Content/images/ikoula.png" title="Ikoula" alt="Ikoula" /></a>
                &nbsp; //&nbsp;  Source code on &nbsp;
                <a href="https://github.com/laedit/Borderlands2-Golden-Keys" target="_blank"><img src="~/Content/images/github.png" title="GitHub" alt="GitHub" width="16" /></a>
                &nbsp;//&nbsp;  Styled with &nbsp;
                <a href="http://getbootstrap.com/" target="_blank"><img src="~/Content/images/bootstrap.png" title="Twitter Bootstrap" alt="Twitter Bootstrap" /></a>
                &nbsp;-&nbsp;  <a href="http://bootswatch.com/" target="_blank"><img src="~/Content/images/bootswatch.png" title="Bootswatch" alt="Bootswatch" /></a>
                &nbsp;-&nbsp;  <a href="http://www.dafont.com/" target="_blank"><img src="~/Content/images/dafont.png" title="DaFont" alt="DaFont" /></a>
                &nbsp;-&nbsp;  <a href="http://glyphicons.com/" target="_blank"><img src="~/Content/images/glyphicons.png" title="Glyphicons" alt="Glyphicons" /></a>
                &nbsp;-&nbsp;  <a href="http://www.freepik.com/" target="_blank"><img src="~/Content/images/freepik.png" title="Freepik" alt="Freepik" /></a>
                <a class="pull-right" href="@Url.Action("Rss", "Home")" title="RSS"><img src="~/Content/images/rss.png" title="RSS" alt="RSS" /></a>
            </p>
        </footer>
        <hr />
        <footer>
            <p>
                Borderlands 2: Golden Keys v1.0 by <a href="http://laedit.net">Laedit</a> - &copy; @if (DateTime.Now.Year > 2014)
                { <text>2014 - </text>@DateTime.Now.Year }
                else
                {@DateTime.Now.Year}
            </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
